# xcode noise
build/*
*.pbxuser
*.mode1v3
SimpleData.xcodeproj/xcuserdata/
Test/google-toolbox-for-mac/GTM.xcodeproj/xcuserdata/
Test/google-toolbox-for-mac/GTMiPhone.xcodeproj/xcuserdata/

# old skool
.svn

# osx noise
.DS_Store
profile
